@font-face {
  font-family: Glamourousse;
 src:url(Tshirt-fonts/Glamourousse.ttf)
}
@font-face {
  font-family: Glamoury_Free;
 src:url(Tshirt-fonts/Glamoury-Free.ttf)
}
@font-face {
  font-family: MediaBlackoutDEMO;
 src:url(Tshirt-fonts/MediaBlackoutDEMO.otf)
}
@font-face {
  font-family: Mont Royal;
 src:url(Tshirt-fonts/Mont Royal.ttf)
}
@font-face {
  font-family: Nickainley_Normal;
 src:url(Tshirt-fonts/Nickainley-Normal.otf)
}
@font-face {
  font-family: Quirko Light-Oblique;
 src:url(Tshirt-fonts/Quirko Light Oblique.otf)
}
@font-face {
  font-family: Quirko Light;
 src:url(Tshirt-fonts/Quirko Light.otf)
}
@font-face {
  font-family: Quirko Regular;
 src:url(Tshirt-fonts/Quirko Regular.otf)
}
@font-face {
  font-family: reckless_sample;
 src:url(Tshirt-fonts/reckless_sample.ttf)
}
@font-face {
  font-family: Reckoner;
 src:url(Tshirt-fonts/Reckoner.ttf)
}
@font-face {
  font-family: reckless_sample;
 src:url(Tshirt-fonts/reckless_sample.ttf)
}
@font-face {
  font-family: Reckoner_Bold;
 src:url(Tshirt-fonts/Reckoner_Bold.ttf)
}
@font-face {
  font-family: Recursive-Black;
 src:url(Tshirt-fonts/Recursive-Black-CASL=0-CRSV=0-MONO=1-slnt=0.ttf)
}
@font-face {
  font-family: Recursive-SemiBold;
 src:url(Tshirt-fonts/Recursive-SemiBold-CASL=1-CRSV=1-MONO=0-slnt=0.ttf)
}